<div class="nav bgColorBlue">
    <div class="logo" (click)="onClickLogo()">
        <img src="./../../../assets/logo/TrimbleR-Horiz-RGB-White.png" style="width: 170px;">
        <div class="logoTitle">MyTopo - Art Map</div>
    </div>

    <div class="menuIcons">
        <mat-icon aria-label="Cart" (click)="onClickCartIcon()">shopping_cart</mat-icon>
        <mat-icon aria-label="Cart" (click)="onClickHomeIcon()">home</mat-icon>
        <mat-icon aria-label="User" (click)="onClickUserIcon()">person</mat-icon>
    </div>

</div>
