
.logo {
    display: flex;
  cursor: pointer;
}

.logoTitle {
    font-size: 30px;
    font-weight: 500;
    margin-left: 10px;
    padding: 11px 0px 0px 0px;
}


.menuIcons {
    padding: 10px 10px;
}

.menuIcons mat-icon {
    margin-left: 20px;
}
